@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --primary: #fbbf24; /* Yellow */
  --secondary: #1f2937; /* Darker shade */
  --font-roboto: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins); /* Usa Poppins para títulos */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}
